
<p>何回でもできるので好きなだけ投票してくれ</p>

<div class="container">
  <table>
    <% @songs.each do |song| %>
      <% cache song do %>
        <tr>
          <td>
          <%= link_to song_quick_votes_path(song_id: song), method: :put do %>
            <i class="fa fa-thumbs-up"></i> 投票
          <% end %>
          </td>
          <td> <%= link_to 'コメントする', new_song_vote_path(song_id: song) %> </td>
          <td><b><%= song.title %></b></td>
        <tr>
      <% end %>
    <% end %>
  </table>
</div>

<a href="/">戻る</a>
