/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #000;
   color: #eee;
 }

 #main {
   text-align: center;
 }

a {
  color: #fff;
}
a:link, a:hover, a:visited {
  color: #fff;
}

h1 {
  margin-bottom: 3rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

td {
  text-align: left;
}

.muted {
  color: #ccccc1;
}

.comment {
  border: 1px solid #363633;
  border-radius: 5px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.comment-date {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 10px;
  color: #ccccc1;
  text-align: right;
}

.block {
  height: 100%;
  background-color: #e3e3d8;
  content: ' ';
}

td.songname {
  width: 120px;
}
