
<p>好きなだけ投票してくれ</p>

<div class="container">
  <table>
    <% @songs.each do |song| %>
      <tr>
        <td></td>
        <td></td>
      <tr>
      <% cache song do %>
        <td> <%= link_to '投票', votes_path(song_id: song.to_param), method: :post %> </td>
        <td> <%= song.title %> </td>
      <% end %>
    <% end %>
  </table>
</div>

<a href="/">戻る</a>
