
<p>何回でもできるので好きなだけ投票してくれ</p>

<div class="container">
  <table>
    <% @songs.each do |song| %>
      <tr>
        <td></td>
        <td></td>
      <tr>
      <% cache song do %>
        <td>
        <%= link_to votes_path(song_id: song.to_param), method: :post do %>
          <i class="fa fa-thumbs-up"></i> 投票
        <% end %>
        </td>
        <td> <%= link_to 'コメントする', edit_vote_path(id: song.to_param) %> </td>
        <td> <b><%= song.title %></b> </td>
      <% end %>
    <% end %>
  </table>
</div>

<a href="/">戻る</a>
