
<p>好きなだけ投票してくれ</p>

<% @songs.each do |song| %>
  <table>
    <tr>
      <td></td>
      <td></td>
    <tr>
    <% cache song do %>
      <td> <%= link_to '投票', votes_path(id: song.to_param), method: :post %> </td>
      <td> <%= song.title %> </td>
    <% end %>
  </table>
<% end %>
